.page {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }
}

.htmx-indicator {
  display: none;
  opacity: 0.8;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: inline-block;
}

.btn .htmx-indicator {
  margin-left: 0.5rem;
}

.htmx-indicator.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #0d6efd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}